@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientShift {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  
h1 {
    color: transparent; /* Torna o texto transparente para mostrar apenas o gradiente */
    background-image: linear-gradient(to left, blue, purple, blue); /* Define o gradiente */
    background-size: 200% auto; /* Torna o gradiente largo o suficiente para animar */
    background-clip: text; /* Aplica o gradiente apenas ao texto */
    -webkit-background-clip: text; /* Para suporte ao Safari */
    -webkit-text-fill-color: transparent; /* Para suporte ao Safari */
    animation: gradientShift 3s infinite ease-in-out alternate; /* Aplica a animação */
}

.btn_cadastro {
    @apply relative px-8 py-2 rounded-md bg-white isolation-auto z-10 border-2 
    border-blue-500 w-auto before:absolute before:w-full before:transition-all 
    before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 
    before:rounded-full before:bg-blue-500 before:-z-10 before:aspect-square 
    before:hover:scale-150 overflow-hidden before:hover:duration-500
}
